<div class="col-md-12 flex flex-wrap p-2">
    <div class="col-md-6">
        <h2>{{product.name}}</h2>
        <h3 class="text-secondary">{{product.headline}}</h3>
        <img [src]="product.image" [alt]="product.name">
    </div>
    <div class="col-md-6">
        <h4><b>Description</b><br>{{product.description}}</h4><br>
        <h4><b>Nutrients</b></h4>
        <p>Carbos: {{product.carbos}}</p>
        <p>Fats: {{product.fats}}</p>
        <p>Proteins: {{product.proteins}}</p>
        <p>Calories: {{product.calories}}</p>
    </div>
</div>
