<div class="col-md-12 m-2">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="text-white">{{parentToChild.name}}</mat-card-title>
            <mat-card-subtitle>{{parentToChild.genre}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="parentToChild.image"
            [alt]="parentToChild.name">
        <mat-card-actions>
            <button class="btn btn-dark" mat-button (click)="viewProduct()">VIEW</button>
            <button class="btn btn-dark" mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>